{{template "layout" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">Profile Page</h1>
      <hr>
      <hr>

      <form action="/user/upload-profile-pic" method="POST" enctype="multipart/form-data">

        <label for="formFile" class="form-label">Choose an image</label>
        <input class="form-control" type="file" class="form-control-file" id="formFile" name="image"
          accept="image/gif,image/jpeg,image/png">

        <input type="submit" class="btn btn-primary mt-3" value="Upload">
      </form>
    </div>
  </div>
</div>
{{end}}